<p id="notice"><%= notice %></p>

<p>
  <b>Days:</b>
  <%= @mod.days %>
</p>

<p>
  <b>Unit:</b>
  <%= @mod.unit_id %>
</p>


<%= link_to 'Edit', edit_mod_path(@mod) %> |
<%= link_to 'Back', mods_path %>
