<%- model_class = @topic.class -%>

<ul class="breadcrumb">
  <li>
    <%= link_to(@course.name, course_path(@course)) %><span class="divider">/</span>
  </li>
  <li>
    <%= link_to("#{@unit.name} : #{@mod.name}", unit_path(@unit))%><span class="divider">/</span>
  </li>
  <li class="active"><%= @topic.name %></li>
</ul>  

<h1><%= @topic.name %></h1>
<h2>Goals</h2>

<% unless @topic.goals.empty? %>
    <% goals_list = @topic.goals.in_sequential_order %>
	<% if can? :edit, goals_list.first %>
		<%= render :partial => "goals/editable_table_list", :locals => {:goals_list => goals_list} %>
	<% else %>
		<%= render :partial => "goals/numbered_goals_list", :locals => {:goals_list => goals_list} %>
	<% end %>

<% else %>
    <p>There aren't any goals for this topic.</p>
<% end %>

<h2>Activities</h2>
<% unless @topic.activities.empty? %>
<ol>
    <% for activity in @topic.activities %>
        <li><%= link_to activity.name, activity_path(activity) %></li>
    <% end %>
</ol>
<% else %>
    <p>There aren't any activities for this topic. <%= link_to "Add one!", new_activity_path(:topic_id => @topic.id ) %></p>
<% end %>
