<%- model_class = @topic.class -%>
<h1>
    <% if current_user.role == "admin" %>
        <%= on_the_spot_edit @topic, :name %>
    <% else %>
        <%= @topic.name %>
    <% end %>
 </h1>
<h2>Goals</h2>
<ol>
<% unless @topic.goals.empty? %>
    <% for goal in @topic.goals.in_order %>
        <% if current_user.role == "admin" %>
            <li><%= on_the_spot_edit goal, :statement %></li>
        <% else %>
            <li><%= goal.statement %></li>
        <% end %>
    <% end %>
</ol>
<% else %>
    <p>There aren't any goals for this topic.</p>
<% end %>

<h2>Activities</h2>
<% unless @topic.activities.empty? %>
<ol>
    <% for activity in @topic.activities %>
        <li><%= activity.name %></li>
    <% end %>
</ol>
<% else %>
    <p>There aren't any activities for this topic. <%= link_to "Add one!", new_activity_path(:topic_id => @topic.id ) %></p>
<% end %>
