<h4>Online Resources <%= "for this #{controller.controller_name.singularize.capitalize}" %></h4>
<ul id="online_resources">
<hr>
<% unless @online_resources.nil? %>
	<%= render :partial => @online_resources %>
<% end %>	
</ul>

<% if can? :create, OnlineResource %>
	<%= link_to "Contribute a Resource", "#new_online_resource_form", :rel => "facebox" %>
	<% @new_online_resource	= OnlineResource.new() %>
	<div id="new_online_resource_form" style="display: none">
		<%= render :partial => "online_resources/form", :locals => {:online_resource => @new_online_resource, :resourceable_id => @resourceable_id} %>
	</div>
<% end %>

<% if can? :edit, OnlineResource %>
	<div id="edit_online_resource_form" style="display: none">
		<%= render :partial => "online_resources/form", :locals => {:this_resource => } %>
	</div>
<% end %>
