<div class="module_box well">
	<h2>Module <%= mod.number %></h2>
	<% unless mod.topics.nil? %>
	<p><%= mod.days %> Days</p>
	<div class="notes">
		<h3>Textbook Pages</h3>
		<ul>
			<% for ref in mod.text_references %>
				<li><%= "#{ref.book} #{ref.location}" %></li>
			<% end %>
		</ul>
	</div>
	<div class="topics">
		<h3>Topics</h3>
		<ul>
			<% for topic in mod.topics.in_order %>
				<li><%= link_to(topic.name, topic_path(topic)) %></li>
			<% end %>
		</ul>
	</div>
	<div class="problems">
		<h3>Threshold Problems</h3>
		<% mod.sorted_threshold_problems.each do |type, problems| %>
			<h4><%= type %></h4>
			<ul>
				<% for problem in problems %>
					<li><%= problem %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<% else %>
	<p>This module doesn't have any associated topics yet. <%= link_to("Click here to add one", new_mod_path) %></p>
	<% end %>
</div>
