<%- model_class = @unit.class -%>

<ul class="breadcrumb">
  <li>
    <%= link_to(@unit.course.name, course_path(@unit.course)) %><span class="divider">/</span>
  </li>
  <li class="active"><%= @unit.name %></li>
</ul>  

<div class="row">
    <h1 class="span6">Unit <%= @unit.number %>: <%= @unit.name %></h1>
    <h3 class="span2"><a href="#" class="pacing" rel="popover" data-title="This unit is <%= @unit.days %> days long." 
        data-content="
        <p>
          <strong>Start date:</strong>
            <%= humanize_date(@unit.start_date) %>
        </p>
        <p>
          <strong>End date:</strong>
          <%= humanize_date(@unit.end_date) %>
        <p>">
          <i class="icon-calendar"></i> Pacing
    </a></h3>
    <% if can? :edit, @unit %>
	  <%= link_to('Edit this Unit', edit_unit_path(@unit), :class => 'btn') %>
<% end %>
</div>

<div id="unit_notes" class="row">
    <p class="span9">
      <strong><%= h(model_class.human_attribute_name(:notes)) %>:</strong><br>
      <%= @unit.notes %>
    </p>
</div>

<!-- standards, key concepts, key terms, misconceptions -->
<%= render :partial => "unit_things" %>

<div id="modules">
  <h2>Modules</h2>
	<ul class="nav nav-tabs" id="myTab">
        <% first = true %>
        <% for mod in @mods %>
        
            <% if first %>
            <li class="active">
            <% first = false %>
            
            <% else %>
            <li>
            <% end %>
            
                <a href="#mod<%= mod.number %>" data-toggle="tab">
                    Module <%= mod.number %>
                </a>
            </li>
        <% end %>
	</ul>

	<div class="tab-content">
    <% unless @mods.empty? %>
        <% for mod in @mods %>
            <% 
            if mod.number == 1 
                locals = {:mod => mod, :first => "active" }
            else
                locals = {:mod => mod, :first => "" }
            end 
            %>
            
            <%= render :partial => 'module_box', :locals => locals %>
        <% end %>
    <% end %>
    </div>
</div>



