<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @unit.course_id %>
</p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @unit.start_date %>
</p>

<p>
  <b>Weeks:</b>
  <%= @unit.weeks %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
