<%- model_class = @unit.class -%>
<h1><%= link_to(@unit.course.name, course_path(@unit.course)) %> > <%=t '.title', :default => @unit.name %></h1>

<div class="row">
    <hr>
    <p class="span2">
      <strong><%= model_class.human_attribute_name(:start_date) %>:</strong>
      <%= humanize_date(@unit.start_date) %>
    </p>
    <p class="span2">
      <strong><%= model_class.human_attribute_name(:end_date) %>:</strong>
      <%= humanize_date(@unit.end_date) %>
    </p>
    <p class="span3">
      <strong><%= model_class.human_attribute_name(:days) %>:</strong>
      <%= @unit.days %>
    </p>
</div>

<div class="row">
    <p class="span9">
      <strong><%= model_class.human_attribute_name(:notes) %>:</strong><br>
      <%= @unit.notes %>
    </p>
</div>

<!-- accordion -->
<%= render :partial => "unit_things" %>


<% unless @mods.empty? %>
    <!-- modules -->
    <% for mod in @mods %>
        <%= render :partial => 'module_box', :locals => {:mod => mod} %>
    <% end %>
<% end %>

<!--
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              units_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unit_path(@unit), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unit_path(@unit),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
-->
