<%- model_class = @unit.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:course_id) %>:</strong><br>
  <%= @unit.course_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @unit.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:start_date) %>:</strong><br>
  <%= @unit.start_date %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:days) %>:</strong><br>
  <%= @unit.days %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:notes) %>:</strong><br>
  <%= @unit.notes %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              units_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unit_path(@unit), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unit_path(@unit),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
