<h1>All Goals for this Course	</h1>
<% @goals.each do |unit, mods_hash| %>
	<h2>Unit <%= unit.number %>: <%= unit.name %></h2>
	<% mods_hash.each do |mod, topics_hash| %>
		<% topics_hash.each do |topic, goals_list| %>
			<h3><%= mod.name %> / <%= topic.name %></h3>
			<%= render :partial => "editable_table_list", :locals => {:goals_list => goals_list} %>
		<% end %>
	<% end %>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_goal_path,
            :class => 'btn btn-primary' %>
