<%= simple_nested_form_for @activity, :html => { :class => 'form-horizontal' } do |activity_form| %>
<div>

    <fieldset>
        <legend><%= controller.action_name.capitalize %> Activities</legend>
                
        <%= render :partial => 'activity_fields', :locals => {:f => activity_form} %>

    </fieldset>
        

    <div id="activities_documents">
        
        <%= activity_form.simple_fields_for :documents do |document_form| %>
            
        <!-- partial for documents field -->
        <%= render :partial => 'document_fields', :locals => {:f => document_form} %>
            
        <% end %> 
        <p>
            <br />
            <%= activity_form.link_to_add(raw("<i class='icon-plus icon-white'></i> Add document"), :documents, :class => 'btn btn-mini btn-primary') %>
        </p>
        
    </div> 

    <div class="form-actions">
      <%= activity_form.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', activities_path, :class => 'btn' %>
    </div>
</div>
<% end %>

