<h1>Activity: <%= @activity.name %></h1>

<div class="rationale">
    <h2>Rationale</h2>
    <%= @activity.rationale %>
</div>

<div class="prior_knowledge">
    <h2>Prior Knowledge</h2>
    <%= @activity.prior_knowledge %>
</div>

<%= render :partial => 'detailed_activities' %>

<% if can? :update, @activity %>
    <%= link_to 'Edit', edit_activity_path(@activity) %> |
<% end %>
<%= link_to 'Back', topic_path(@activity.topic) %>
