<ul class="breadcrumb">
  <li>
    <%= link_to(@course.name, course_path(@course)) %><span class="divider">/</span>
  </li>
  <li>
    <%= link_to("#{@unit.name} : #{@mod.name}", unit_path(@unit))%><span class="divider">/</span>
  </li>
  <li>
    <%= link_to(@topic.name, topic_path(@topic))%><span class="divider">/</span>
  </li>
  <li class="active"><%= @activity.name %></li>
</ul>  

<h1>Activity: <%= @activity.name %></h1>

<div class="rationale">
    <h2>Rationale</h2>
    <%= @activity.rationale %>
</div>

<% unless @activity.prior_knowledge == "" %>
<div class="prior_knowledge">
    <h2>Prior Knowledge</h2>
    <%= @activity.prior_knowledge %>
</div>
<% end %>

<%= render :partial => 'detailed_activities', :locals => {:activity_id => @activity.id} %>

<% if can? :update, @activity %>
    <%= link_to 'Edit', edit_activity_path(@activity) %> 
<% end %>

<!-- there should be a standard back link format -->
<%# link_to 'Back', topic_path(@activity.topic) %>
