<p>
  <b>Topic:</b>
  <%= @activity.topic_id %>
</p>


<p>
  <b>Rationale:</b>
  <%= @activity.rationale %>
</p>

<p>
  <b>Prior knowledge:</b>
  <%= @activity.prior_knowledge %>
</p>

<p>
  <b>Documents:</b>
  <ul>
    <% @activity.documents.each do |doc|  %>
        <li><%= doc.description %></li>
        <li><%= link_to "Download", "#{doc.file}" %> </li>
    <% end %>
  </ul>  
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
