<h1>Listing goal_progresses</h1>

<table>
  <tr>
    <th>Goal</th>
    <th>Course class</th>
    <th>Completed</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goal_progresses.each do |goal_progress| %>
  <tr>
    <td><%= goal_progress.goal_id %></td>
    <td><%= goal_progress.course_class_id %></td>
    <td><%= goal_progress.completed %></td>
    <td><%= goal_progress.notes %></td>
    <td><%= link_to 'Show', goal_progress %></td>
    <td><%= link_to 'Edit', edit_goal_progress_path(goal_progress) %></td>
    <td><%= link_to 'Destroy', goal_progress, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal progress', new_goal_progress_path %>
