<h1>Your Classes' Progress</h1>

<% @goals.each do |unit, mods_hash| %>
	<h2><%= unit.name %></h2>
	<% mods_hash.each do |mod, topics_hash| %>
		<h3><%= mod.name %></h3>
		<% topics_hash.each do |topic, goals_list| %>
			<h4><%= topic.name %></h4>
			<ol>
			<% goals_list.each do |goal| %>
				<li class="goal-statement" id="goal-statement-<%= goal.id %>">
					<%= goal.number %>. <%= goal.statement %>
				</li>
			<% end %>
			</ol>
		<% end %>
	<% end %>
<% end %>
