<!DOCTYPE html>
<html>
<head>
  <title>Mybinder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "partials/nav" %>
  <div class="container">
      <% # show error messages
          flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">×</a>
            <%= msg %>
          </div>
        <% end %>
    <div class="span8">
        <%= yield %>
    </div>
    <div class="span3 well">
        <h4>Online Resources</h4>
        <%= render :partial => 'partials/online_resources' %>
    </div>
    <%= render :partial => 'partials/uservoice_js' %>
  </div>
</body>
</html>
