<!DOCTYPE html>
<html>
<%= render :partial => 'shared/head' %>
<body>
  <%= render :partial => "partials/nav" %>
  <div class="container">
    <%= render :partial => 'shared/error_messages' %>
    <div class="span12">
        <%= yield %>
    </div>
    <%= render :partial => 'partials/uservoice_js' %>
  </div>
</body>
</html>
