<!DOCTYPE html>
<html>
<%= render :partial => 'shared/head' %>
<body>
  <%= render :partial => "partials/nav" %>
  <div class="container">
    <%= render :partial => 'shared/error_messages' %>
    <div class="span8">
        <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
    <div class="span3 well">
        <%= render :partial => 'partials/online_resources' %>
    </div>
    <%= render :partial => 'partials/uservoice_js' %>
  </div>
</body>
</html>
